#filtered vim: filetype=sh: 


######################## [G]eneral ##############################
alias cp='cp -iv'                 # Preferred 'cp' implementation
alias mv='mv -iv'                 # Preferred 'mv' implementation
alias mkdir='mkdir -pv'           # Preferred 'mkdir' implementation
alias less='less -FSRXc'          # Preferred 'less' implementation
alias ..='cd ../'                 # Go back 1 directory level
alias ...='cd ../../'             # Go back 2 directory levels
alias 2.='cd ../../'              # Go back 2 directory levels
alias 3.='cd ../../../'           # Go back 3 directory levels
alias 4.='cd ../../../../'        # Go back 4 directory levels
alias 5.='cd ../../../../../'     # Go back 5 directory levels
alias 6.='cd ../../../../../../'  # Go back 6 directory levels
alias ~="cd ~"                    # ~: Go Home
alias c='clear'                   # c: Clear terminal display
alias which='type -all'           # which: Find executables
alias b='vim ~/.bashrc' 
alias a='vim ~/.aliases' 
alias i='vim ~/.config/i3/config' 
alias v='vim ~/.vimrc'
alias s='source ~/.bashrc'
alias open='open -a Finder ./'    
alias path='echo -e ${PATH//:/\\n}'
alias cal='ncal -MC3'
#cd() { builtin cd "$@"; ll; }    # Always list dir contents after 'cd'
alias ll='ls -FGlAhp --time-style=+"%d-%m-%y %H:%M"'
alias la='ls -A'
alias l='ls -CF'
alias vs='vim -S'
alias screens='sh ~/.screenlayout/monitor_laptop.sh'
alias g=' grep -irn'
alias shutdown="osascript -e 'tell app System Events to shut down'"

####################### [V]arious #############################

#alias malias="history | tail -n2 | head -n1 | awk '{$1="";=print $0}' | alias_maker"
alias malias='history | tail -n2 | head -n1 | alias_maker'
alias mat='cd ~/Dropbox/path_following && matlab  && cd -'
alias cc='xclip -selection clipboard'
alias pc='xclip -o -selection clipboard'
