[user]
	name = Kostantinos Konstantinidis
	email = kostaskonkk@gmail.com
[push]
	defaul = simple
	default = simple
[core]
	excludesFile = .gitignore
	editor = vim
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
	conflictstyle = diff3
[difftool]
	prompt = 0
[alias]
        ci = commit
        st = status
        co = checkout
        ;oneline = log --pretty=oneline
        ;br = branch
        ;la = log --pretty="format:%ad %h (%an): %s" --date=short
