/*
!.aliases
!.bashrc
!.gitconfig
!.gitignore
!.latexmkrc
!.vimrc

!.config
!.config/**
!.local
!.local/**
!.vim/
!.vim/**

.vim/undo
.vim/autoload
.vim/plugged

.config/guitarix/
.config/htop/
.config/omf/
.config/picom/
.config/pulse/
.config/sinew.in/
.config/spotify/
.config/vlc/
.config/Dharkael/
.config/QtProject.conf
.config/dconf/
