.CFUserTextEncoding
.DS_Store
.Trash/
.Xauthority
.bash_history
.bash_profile
.bash_sessions/
.cache/
.config/htop/
.config/inkscape/
.config/karabiner/
.dropbox/
.emacs.d/
.gem/
.gruvbox_dark.itermcolors.swp
.history
.jssc/
.lesshst
.local/bin/getbib
.local/share/
.matplotlib/
.mitmproxy/
.oracle_jre_usage/
.profile
.python_history
.shpotify.cfg
.ssh/
.subversion/
.vim/.netrwhist
.vim/autoload/
.vim/colors/
.vim/undo
.vim/plugged/
.viminfo
.virtualenvs
.config/fish/fish_variables
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
iCloud Drive (Archive)/
job-applications/
